<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons *ngIf="this.dataService.cur_user" end>
      <button ion-button icon-only (click)="userEdit()">
        <ion-icon name="build"></ion-icon>
      </button>
      <button ion-button icon-only (click)="userLogOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- LOGGED OUT -->
  <div *ngIf="!this.dataService.cur_user" id="logged_out-view">
    Log in to Equithon:
    <ion-input type="email" placeholder="Email" [(ngModel)]="login_email"></ion-input> 
    <ion-input type="password" placeholder="Password" (keyup.enter)="userLogIn()" [(ngModel)]="login_pass"></ion-input> 
    <button ion-button (click)="userLogIn()">Log In</button>
  </div>

  <!-- LOGGED IN -->
  <div *ngIf="this.dataService.cur_user" id="logged_in-view">
    <div id="top_info">
      <img src="../../assets/imgs/user_profile_pics/profpic_andres.jpg" id="avatar_profpic">
      <br>
      <h3>{{this.dataService.cur_user.name}}</h3>
      <br>
      <span class="subheading">Co-chair &amp; Sponsorship Lead</span>
      <br>
      <span id="status">currently: {{this.dataService.actions[this.dataService.cur_user.status.action].action}}</span>
    </div>
  </div>
</ion-content>
  