<ion-header>
  <ion-navbar>
    <ion-title [innerHtml]="user.name"></ion-title> #{{user.id}}
  </ion-navbar>
</ion-header>

<ion-content>
  <!--EDITABLE VIEW-->
  <span id="editable_view">
    <ion-item> 
      <ion-input placeholder="User Name" [(ngModel)]="user.name"></ion-input> 
    </ion-item> 
    <ion-item>
        <ion-label>Role</ion-label>
        <ion-select [(ngModel)]="user.role">
          <ion-option value="organizer">Organizer</ion-option>
          <ion-option value="volunteer">Volunteer</ion-option>
          <ion-option value="mentor">Mentor</ion-option>
          <ion-option value="sponsor">Sponsor</ion-option>
          <ion-option value="hacker">Hacker</ion-option>
        </ion-select>
    </ion-item>
    <div id="editable_volunteer-non-quick">
      <ion-label>Workshops</ion-label>
      <ion-list>
        <!-- for some reason iteration using ngFor cannot track indexes properly, see https://github.com/angular/angular/issues/10423#issuecomment-236808128 -->
        <ion-item *ngFor="let ws of user.attended;let i=index; trackBy: trackByIndex">
          <ion-label>{{workshops[i].name}}</ion-label>
          <ion-toggle [(ngModel)]="user.attended[i]"></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-label>Activities</ion-label>
      <ion-list>
        <ion-item *ngFor="let ac of user.participated;let i=index; trackBy: trackByIndex">
          <ion-label>{{activities[i].name}}</ion-label>
          <ion-toggle [(ngModel)]="user.participated[i]"></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-label>Food</ion-label>
      <ion-list>
        <ion-item *ngFor="let fd of user.eaten;let i=index; trackBy: trackByIndex">
          <ion-label>{{meals[i].name}}</ion-label>
          <ion-toggle [(ngModel)]="user.eaten[i]"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <span *ngIf="this.dataService.cu_is_quick">
      <div id="editable_volunteer-quick">
        <ion-label>{{this.dataService.cu_quick_checkin.name}}</ion-label>
        <ion-toggle *ngIf="this.dataService.cu_quick_checkin.type === 'workshop'" [(ngModel)]="user.attended[this.dataService.cu_quick_checkin.type_indx]"></ion-toggle>
        <ion-toggle *ngIf="this.dataService.cu_quick_checkin.type === 'activity'" [(ngModel)]="user.participated[this.dataService.cu_quick_checkin.type_indx]"></ion-toggle>
        <ion-toggle *ngIf="this.dataService.cu_quick_checkin.type === 'meal'" [(ngModel)]="user.eaten[this.dataService.cu_quick_checkin.type_indx]"></ion-toggle>
      </div>
    </span>
  </span>


  <!--NON EDITABLE VIEW-->
  <span id="default_view">
      Role: {{user.role}} <br>
  </span>
  <button ion-button (click)="close()">x close</button>
</ion-content>
      